/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400&family=Roboto:wght@300&display=swap');
/* font-family: 'MuseoModerno', sans-serif;
font-family: 'Roboto', sans-serif; */
body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;;
	/* background-color: rgb(71, 71, 71); */
}
.splash{
	background-size: cover;
	background-image: url("./img/green-splash.jpg");
	background-blend-mode: color-dodge;
	padding-right: 0;
	padding-left: 0;
	overflow: hidden;
	margin: 0;
	height: 150vh;
	/* color: rgb(255, 51, 0); */
	color: white;
	font-family: 'MuseoModerno', cursive;
}
.splashTitle{
	margin-top: 10vh;
	margin-left: 5vw;
	font-size: 76px;
	text-shadow: 5px 3px 7px rgb(0,0,0);
	font-weight: 400;
	padding: 10px;
}
.splashSubTitle{
	margin-top: 60vh;
	color: white;
	font-size: 40px;
	text-shadow: 5px 3px 7px rgb(0,0,0);
	/* margin-left: 5vw; */
}
.navLink{
    font-size: 30px;
	font-family: 'MuseoModerno', cursive;
	margin-left: 10%;
}
.homeLink{
	font-size:42px;
}
.navLink:hover{
	text-decoration: underline wavy rgb(7, 218, 147);
}
.iconStyles{
	font-size: 100px;
	color: rgb(219, 91, 5);
	padding: 3px;
	margin: 5px;
}
h2{
	font-size: 36px;
	font-family: 'MuseoModerno', sans-serif;
}
h3{
	font-size: 26px;
	font-family: 'MuseoModerno', sans-serif;
	text-align: center;
}
#portfolio h3{
	text-decoration: underline solid black;
}
h4{
	font-size: 20px;
}
@media only screen and (max-width: 600px) {
	.splashSubTitle{
		margin-left: 5vw;
	}
}